$color-primary: #141938;
$color-secondary: #6F7DFF;
$color-background: #FAFBFF;
$color-gray: #A3ABCC;
$color-white: #ffffff;
$color-purple: #EDEFFC;
$color-cta: #4F4FFF;
$font-primary: 'Lato', sans-serif;

$shadow-card: 0px 1px 32px rgba(174, 172, 243, 0.35);
$radius-lg: 24px;

$breakpoint-mobile: 576px;
