$color-primary: #141938;
$color-secondary: #6f7dff;
$color-background: #fafbff;
$color-gray: #a3abcc;
$color-white: #ffffff;
$color-purple: #edeffc;
$color-cta: #4f4fff;
$font-primary: "Lato", sans-serif;
$color-dark-gray: #03050f;
$color-light-gray: #f8f9ff;

$shadow-card: 0px 1px 32px rgba(174, 172, 243, 0.35);
$radius-lg: 24px;

$breakpoint-mobile: 576px;
