@use './_variables' as *;
@use './_layout' as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  background-color: $color-background;
  color: $color-primary;
}
.plans-container {
  padding-top: 0;
  margin-top: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $color-background;
}
main {
  padding-top: 0;
  margin-top: 0;
}