@use "./_variables" as *;

.login-page {
  display: flex;
  flex-direction: column;

  &__main {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__image__mobile {
    display: none;
  }

  &__image {
    flex: 1;
    background: url("/images/login-image.png") no-repeat center;
    background-size: cover;
    border-radius: 24px;
    margin-left: 32px;
  }

  &__badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 172px;
    padding: 4px 8px;
    font-size: 0.75rem;
    font-weight: 700;
    border-radius: 4px;
    background: linear-gradient(90deg, #00f4e2 0%, #00ff7f 100%);
    color: $color-dark-gray;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    color: $color-dark-gray;
    line-height: 40px;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 600;
    color: $color-dark-gray;
    line-height: 20px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .input-group {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;

    select,
    input[type="text"] {
      flex: 1;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 12px;
      font-size: 1rem;
    }
  }

  input[type="tel"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 1rem;
    margin-bottom: 16px;
  }

  .checkboxes {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: #0a051e;
      gap: 8px;
      cursor: pointer;
      font-weight: 400;
      line-height: 20px;

      input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border: 1.5px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        position: relative;
        cursor: pointer;

        &:checked {
          background-color: #0a051e;
          border-color: #0a051e;
        }

        &:checked::after {
          content: "✔";
          position: absolute;
          top: 1px;
          left: 4px;
          font-size: 12px;
          color: $color-white;
        }
      }
    }
  }

  .terms-link {
    font-size: 12px;
    color: $color-dark-gray;
    text-decoration: underline;
    display: block;
    font-weight: 600;
    line-height: 20px;
  }

  .btn-submit {
    width: 195px;
    background-color: $color-dark-gray;
    color: $color-white;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    line-height: 24px;

    &:hover {
      background-color: #1f2440;
    }
  }

  @media (max-width: 768px) {
    .btn-submit {
      width: 100%;
    }
  }

  .error {
    color: red;
    font-size: 0.8rem;
    margin-top: -10px;
    margin-bottom: 10px;
  }
}

.login-layout {
  display: grid;
  grid-template-columns: 600px 696px;
  min-height: 100vh;

  &__col {
    &--left {
      padding: 32px 0 48px 120px;
    }

    &--right {
      padding: 32px 216px 80px 128px;
      display: flex;
      flex-direction: column;
      justify-content: start;
    }
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;

    &__col--left {
      display: none;
    }

    &__col--right {
      padding: 32px;
    }
  }
}
